/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/BellmanFord/nbproject/private/
/Shakki/target/
/Shakki/nbproject/
/Shakki/chessDatabase.mv.db
/Shakki/chessDatabase.trace.db
/Shakki/testChessDatabase.mv.db
/Shakki/testChessDatabase.trace.db